<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        /* CSS personnalisé pour le PDF */
        body { font-family: Arial, sans-serif; }
        .header { color: #333; }
    </style>
</head>
<body>
<table style="width:100%">
    <thead>
        <tr>
            <th colspan="6" align="center"> rapport Vente du : </th>
        </tr>
    </thead>
        <tbody>
            <tr>
            <td colspan="6" align="center"> Formule   Vente N=  Client :  Tel:  utilisateur heure aliment</td>
            </tr>
                <tr>
                <th scope="col">Nom produit</th>
                <th scope="col">quantite</th>
                <th scope="col">prix</th>
                <th scope="col">montant </th>
                <th scope="col">Typepaiement</th>
                <th scope="col">datevente</th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>        
</body>
</html>