
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">AB COMPTA <sup>2</sup></div>
        </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Bienvenue {{app.user.	username }}</span>
    </li>

    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseahcat"
        aria-expanded="true" aria-controls="collapseahcat">
        <i class="fas fa-fw fa-folder"></i>
        <span>Achat</span>
    </a>
    <div id="collapseahcat" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Operation des Achat</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="#">Liste Achat</a>
            {% else %}
                <a class="collapse-item" href="#" >Ajouter un Achat</a>
                <a class="collapse-item" href="#">Liste Achat</a>
            {% endif %}
        </div>
    </div>
    </li>
   
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseproduit"
            aria-expanded="true" aria-controls="collapseproduit">
            <i class="fas fa-fw fa-folder"></i>
            <span>Produit</span>
        </a>
        <div id="collapseproduit" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Operation des produits</h6>
                    {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                        <a class="collapse-item" href="#">Liste produit</a>
                    {% else %}
                        <a class="collapse-item" href="#" id="ajouterProduit">Ajouter un produit</a>
                        <a class="collapse-item" href="#">Liste produit</a>
                    {% endif %}
            </div>
        </div>
    </li>
    
   
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#versement"
        aria-expanded="true" aria-controls="versement">
        <i class="fas fa-fw fa-folder"></i>
        <span>Versement</span>
    </a>
    <div id="versement" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">versement:</h6>
            {% if "ROLE_ADMIN_ADMIN" in app.user.roles %}
                <a class="collapse-item" href="#">Liste versement</a>
            {% else %}
                <a class="collapse-item" href="#">Liste versement</a>
            {% endif %}
        </div>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dette"
        aria-expanded="true" aria-controls="dette">
        <i class="fas fa-fw fa-folder"></i>
        <span>Dette client</span>
    </a>
    <div id="dette" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Dette:</h6>
            <a class="collapse-item" href="php/dette/dette.php">Liste credit</a>
        </div>
    </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
    Interface
    </div>
    <button class="btn btn-warning btn-user btn-block" id="ajouterClient">
        <i class="fas fa-plus"></i>
        <a href="{{path('app_agence_bascule') }}">
            Changer de compte
        </a>
    </button>
    <button class="btn btn-success btn-user btn-block" id="ajouterClient">
        <i class="fas fa-plus"></i>
        <a href="https://abc.ab-counting.com" class="text-white">
            AB GROUP SARL
        </a>
    </button>
    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
</ul>